/* General styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  position: relative;
}

h1 {
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
  color: white;
}

div.top {
  padding-top: 50px;
  padding-bottom: 1px;
  background: no-repeat url(./img/pattern-bg.png);
  background-size: cover;
  background-position: 0;
}

footer {
  position: relative;
  height: 15vh;
  background: no-repeat url(./img/pattern-bg.png) bottom;
}

#reference {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-align: right;
  margin-right: 40px;
  font-weight: 300;
  font-size: 14px;
}

#reference a {
  color: rgb(255, 160, 160);
}

@media only screen and (min-width: 992px){

  div.top {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1400px){

  footer {
    background-size: 100%;
  }
}