/* General styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background: no-repeat url(./img/pattern-bg.png) bottom;
}

header {
  position: relative;
}

h1 {
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
  color: white;
}

div.top {
  padding-top: 50px;
  padding-bottom: 1px;
  background: no-repeat url(./img/pattern-bg.png);
  background-size: cover;
  background-position: 0;
}

@media only screen and (min-width: 992px){

  div.top {
    padding-top: 30px;
  }
}